<div class="card">
    <h1 class="card-header">{{postagem.titulo}}</h1>
    <div class="card-body">
        <div class="card-text">
            <small>Data de publicação: {{postagem.data}}</small>
        </div>
        <hr>
        <div class="card-text">{{postagem.conteudo}}</div>
    </div>
</div>